<form id="create-new-review">
  <fieldset>
    <legend>Review Some Nachos!
    </legend>
    <!-- <p>&#x1f607; Damn that's Nachoie!</p>
    <p>	&#x1f610; Meh</p>
    <p>&#x1f47f; Cook's got a chip on their shoulder</p> -->
    <select class="menu-item-selector">
      {{#each menu_items}}
        <option value={{id}}>{{id}} {{restaurant_id}} {{restaurant.name}} {{dish_id}} {{dish.name}}</option>
      {{/each}}
    </select>
    <input class="vote" type="button" name="1" value="&#x1f607;  Damn that's Nachoie!">
    <input class="vote" type="button" name='101' value="&#x1f610;  Meh">
    <input class="vote" type="button" name="-1" value="&#x1f47f;  Cook's got a chip on their shoulder">
    <input id="review-rating" type="hidden" name="review[rating]" value="">
    <input type="note" name="review[note]" placeholder="Enter your note">
    <input id="menu-field" type="menu_item" name="review[menu_item_id]" placeholder="Enter the Menu Item ID">
    <input type="submit" name="submit" value="Submit Review">
  </fieldset>
</form>
