<h1> Results: </h1>
{{#if restaurants}}
  <ul class="list">
    {{#each restaurants}}
      <li>{{name}}</li>
      {{#each restaurants.reviews}}
        {{name}}
      {{/each}}
    {{/each}}
  </ul>
{{else if menu_items}}
  <ul class="list">
    {{#each menu_items}}
      <li>{{id}} {{restaurant_id}} {{restaurant.name}} {{dish_id}} {{dish.name}}</li>
    {{/each}}
  </ul>
{{else if dishes}}
  <ul class="list">
    {{#each dishes}}
      <li>{{id}}{{name}}</li>
    {{/each}}
  </ul>
{{else if users}}
  <ul class="list">
    {{#each users}}
      <li>{{id}}{{email}}</li>
    {{/each}}
  </ul>
{{/if}}
