<h3>ID: {{menu_item.dish_id}} Restaurant: {{menu_item.restaurant_id}}</h3>

{{#if rating}}
  <p>{{rating}}</p>
{{else}}
  <p> No rating </p>
{{/if}}

{{#if note}}
  <p>{{note}}</p>
{{else}}
  <p> No note </p>
{{/if}}
