<h3>Menu Item: {{menu_item.dish_id}} Restaurant: {{menu_item.restaurant_id}}</h3>
{{#menu_item}}
  <h3> This is looped menu items {{dish_id}} {{dish.name}}</h3>
{{/menu_item}}
{{#if rating}}
  <p>Rating: {{rating}}</p>
{{else}}
  <p> No rating </p>
{{/if}}

{{#if note}}
  <p>Notes: {{note}}</p>
{{else}}
  <p> No notes </p>
{{/if}}
<button id={{id}} class="btn btn-default display-edit-review">Edit Review</button>
<button id={{id}} class="btn btn-default delete-review">Delete Review</button>
