<h3>Menu Item: {{menu_item.dish.name}} Restaurant: {{menu_item.restaurant.name}}</h3>

{{#if rating}}
  <p>{{rating}}</p>
{{else}}
  <p> No rating </p>
{{/if}}

{{#if note}}
  <p>{{note}}</p>
{{else}}
  <p> No note </p>
{{/if}}
